@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

:root {
  --border-radius: 1rem;
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --desaturated-dark-blue-transparent: hsl(214 17% 51% / 0.4);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --light-azure: hsl(210 29% 84% /0.5);
  --gray59: hsl(0 0% 59%);
  --font-weight-1: 700;
  --font-weight-2: 500;
  --letter-spacing-1: 0.25px;
  --letter-spacing-2: 0.12px;
  --letter-spacing-3: 5px;
  --line-height-1: calc(28 / 16 * 1rem);
  --line-height-2: calc(20 / 16 * 1rem);
}

html,
body {
  block-size: 100dvh;
}

body {
  display: grid;
  place-items: center;
  overflow-wrap: anywhere;
  hyphens: auto;
}

main {
  inline-size: min(100% - 2rem, 730 / 16 * 1rem);
  box-sizing: 0 40px 40px -10px var(--light-azure);
  anchor-name: --share-anchor;

  @media (width >= calc(660 / 16 * 1rem)) {
    anchor-name: none;
  }
}

article.card {
  display: grid;
  gap: 3rem;

  @media (width >= calc(660 / 16 * 1rem)) {
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
  }
}

article img.product-image {
  inline-size: max(100%, 5rem);
  aspect-ratio: 1.5 / 1;
  object-fit: cover;
  border-start-start-radius: var(--border-radius);
  border-start-end-radius: var(--border-radius);

  @media (width >= calc(660 / 16 * 1rem)) {
    aspect-ratio: 1 / 1;
    border-start-end-radius: 0;
    border-end-start-radius: var(--border-radius);
  }
}

section.furniture-section {
  padding-inline: clamp(1rem, 1.5rem + 0.5vw, 2rem);
  display: grid;
  gap: 1rem;

  @media (width >= calc(660 / 16 * 1rem)) {
    padding-block: clamp(1rem, 1.5rem + 0.5vw, 2rem);
  }
}

h1,
h2 {
  color: var(--very-dark-grayish-blue);
  font-weight: var(--font-weight-1);
}

h1 {
  font-size: clamp(1rem, 2vw, 20 / 16 * 1rem);
  letter-spacing: var(--letter-spacing-1);
  line-height: var(--line-height-1);
}

p,
h2,
time {
  font-size: calc(13 / 16 * 1rem);
  letter-spacing: var(--letter-spacing-2);
  line-height: var(--line-height-2);
}

p,
time {
  font-weight: var(--font-weight-2);
}

p {
  color: var(--desaturated-dark-blue);
}

section figure {
  display: grid;
  grid-template-columns: 2.5rem 1fr auto;
  justify-items: start;
  gap: clamp(0.5rem, 1rem + 0.5vw, 1.5rem);
}

figure img.headshot {
  inline-size: 2.5rem;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  border-radius: 100vw;
}

figcaption {
  display: grid;
  justify-items: start;
}

figcaption time {
  color: var(--grayish-blue);
}

.share-container {
  justify-self: end;
  align-self: center;
}

.share-button {
  background-color: var(-gray59);
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;

  @media (width >= calc(660 / 16 * 1rem)) {
    anchor-name: --share-anchor;
  }
}

.share-button:is(:hover, :focus-visible) {
  background-image: linear-gradient(var(--desaturated-dark-blue-transparent));
}

.social-links-tooltip-invisible {
  display: none;
}

.social-links-tooltip-visible {
  background-color: var(--very-dark-grayish-blue);
  padding: 1.5rem 1rem;
  border-end-start-radius: 0.5rem;
  border-end-end-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  color: var(--grayish-blue);
  font-size: calc(13 / 16 * 1rem);
  letter-spacing: var(--letter-spacing-2);
  line-height: var(--line-height-2);
  position: absolute;
  position-anchor: --share-anchor;
  inset-block-start: calc(anchor(bottom) - 3rem);
  inset-block-end: anchor(bottom);
  inset-inline-start: 0;
  inset-inline-end: 0;
  filter: drop-shadow(0 10px 10px var(--light-grayish-blue));

  @media (width >= calc(660 / 16 * 1rem)) {
    padding-block: 0.75rem;
    border-start-start-radius: 0.5rem;
    border-start-end-radius: 0.5rem;
    inset: unset;
    justify-self: anchor-center;
    inset-block-end: calc(anchor(top) + 1.2rem);
  }
}

.social-links-tooltip-visible::after {
  @media (width >= calc(660 / 16 * 1rem)) {
    background-color: var(--very-dark-grayish-blue);
    content: "";
    inline-size: 1.5rem;
    aspect-ratio: 2 / 1;
    position: absolute;
    inset-block-start: 99%;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
  }
}

span.share {
  margin-inline-start: clamp(1rem, 1.5rem + 0.5vw, 2rem);
  text-transform: uppercase;
  letter-spacing: clamp(
    var(--letter-spacing-2),
    var(--letter-spacing-1) + 0.25vw,
    var(--letter-spacing-3)
  );

  @media (width >= calc(660 / 16 * 1rem)) {
    margin-inline-start: 0;
  }
}

.social-links-tooltip-visible img {
  inline-size: 1rem;
}

.social-links-tooltip-visible .share-icon-small-screen {
  background-image: linear-gradient(var(--desaturated-dark-blue-transparent));
  inline-size: 1.5rem;
  margin-inline-start: auto;
  margin-inline-end: clamp(1rem, 1.5rem + 0.5vw, 2rem);
  border-radius: 50%;

  @media (width >= calc(660 / 16 * 1rem)) {
    display: none;
  }
}
